<!--The content below is only a placeholder and can be replaced.-->

<ul>
  <li><a routerLink="trajets">Trajets</a></li>
  <li *ngIf="!current_users.error"><a routerLink="vehicles">Vehicule</a></li>
  <li *ngIf="current_users.admin"><a routerLink="trajetTypes">Trajets Type</a></li>
  <li *ngIf="current_users.error"><a routerLink="users">Inscription / Connexion</a></li>
  <li *ngIf="!current_users.error">
    <button (click)="logout()">Deconnexion</button>
  </li>
  <li >
    <button (click)="me()">reloadme</button>
  </li>
  <li>
    {{current_users.username}}
    {{current_users.message}}
    {{current_users.admin}}
  </li>
</ul>

<router-outlet></router-outlet>
